---
interface Props {
	title: string;
	imgURL: string;
	materials: string;
	size: string[];
	extra: string;
}

const { title, imgURL, materials, size, extra } = Astro.props;
---

<div class="grid max-w-[230px]">
	<span class="bg-stone-600 font-semibold rounded-r-md text-white px-5 py-3 capitalize">{title}</span>
	<div class="max-w-[250px] max-h-[250px] overflow-hidden">
		<img class="w-full h-full object-cover" 
		src={imgURL} alt={title}>
	</div>
	<span>Materiales: {materials}</span>
	<div class="flex gap-x-2">
		<span>Tamaño:</span>
		{size.map(size => {
			return <span class="bg-indigo-100 rounded-full px-2 uppercase text-sm font-semibold">{size}</span>
		})}
	</div>
	<span>Disponible en varios colores</span>
</div>
<style>
</style>
